<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Selecione um item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Escolha seu pedido</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item button *ngFor="let item of itensDisplay;" [routerLink]="['/detail/', item.idCardapioItem]">
    <ion-row>
      <ion-col>
        <ion-avatar>
          <ion-img [src]="item.imagem"></ion-img>
        </ion-avatar><br>
        <ion-label style="font-size: xx-small;">COD {{item.idCardapioItem}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong class="capitalize">{{ item.nome }}</strong>
        <ion-label>{{item.descricao}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label color="primary">R$ {{item.preco}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-item>

</ion-content>
