<ion-header>
  <ion-toolbar>
    <ion-title>Extrato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
  <ion-list>
    <ion-item button *ngFor="let item of cardapio.appPedidoItens;">
        <a>Item: {{item.cardapioItem.idCardapioItem}}</a>
        <span>Nome: </span>{{item.cardapioItem.nome}}<br>
    </ion-item>
  </ion-list>
  <ion-button>Enviar pedido</ion-button>
</div>
</ion-content>
