<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Cardápio </ion-list-header>
          <ion-select value="1" (ionChange)="cardapioChange($event)" routerDirection="root" [routerLink]="['/folder/inicio']">
            <ion-select-option value="1" default>cardapio charrete</ion-select-option>
            <ion-select-option value="2">cardapio pizzaria Bertis</ion-select-option>
          </ion-select>
          <ion-note>Seja bem-vindo</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of cardapio.appAbas.abas; let i = index">
            <ion-item  routerDirection="root" [routerLink]="['/folder/Completo']" lines="none" detail="false" routerLinkActive="selected" *ngIf='i == 0'>
              <ion-label>Completo</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/folder/', p.idCardapioSecao]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header routerDirection="root" [routerLink]="['/summary']">Extrato da Conta</ion-list-header>
<!--

  <ion-item *ngFor="let p of appExtrato.pedidos" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
    <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
    <ion-label>{{ p.item }}</ion-label>
  </ion-item>
-->

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
