<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="enviar($event)" [routerLink]="['/summary']">Adicionar na cesta</ion-button>
    <ion-title>{{ appItemDetail.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons>
        <ion-menu-button>
          <ion-back-button></ion-back-button>
        </ion-menu-button>
      </ion-buttons>
      <ion-title size="large">{{ appItemDetail.nome }}</ion-title>
      <ion-button slot="end" color="secondary">Enviar</ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-item>
      <ion-card>
        <ion-card-content>
          <img [src]="appItemDetail.imagem" />
          <ion-label>COD {{appItemDetail.idCardapioItem}}</ion-label>
          <strong> {{appItemDetail.descricao}}</strong>
          <ion-label color="primary">R$ {{appItemDetail.preco}}</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-item>


    <!-- Checkboxes in a List -->

    <ion-item *ngFor="let adicional of itemAdicionalSplit;">
      <ion-label>{{adicional.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="adicional.isChecked"></ion-checkbox>
    </ion-item>

    <!--
    <ion-list >
      <ion-item-divider>
        <strong>{{section.nome}}</strong>{{section.descricao}}
      </ion-item-divider>

      <ion-radio-group *ngIf='section.quantidadeObrigatoria == 1'>
        <ion-item *ngFor="let subitem of section.subItens;">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>{{subitem.nome}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-radio value="{{subitem.idCardapioItem}}"></ion-radio>
              </ion-col>
              <ion-col>
                <ion-note>R$ {{subitem.preco}}</ion-note>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-radio-group>

      <div *ngIf='section.quantidadeObrigatoria > 1'>
        <ion-item *ngFor="let subitem of section.subItens;">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>{{subitem.nome}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-text>-</ion-text>{{subitem.quantidade}}<ion-text>+</ion-text>
                <ion-note>R$ {{subitem.preco}}</ion-note>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>

    </ion-list>
    -->
  </ion-content>
